.form__container {
  margin: 0 auto;
  width: 400px;
  border-radius: 1%;
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.12), 0 1px 40px rgba(0, 0, 0, 0.24);
}

#signup-form > h2,
#login-form > h2 {
  font-size: 2rem;
  font-family: "Cinzel", serif;
  margin: 1.5rem 0 0.5rem 0;
  font-weight: var(--font-bold);
}

#signup-form > p,
#login-form > p {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.1rem;
  font-family: "Cinzel", serif;
  font-weight: var(--font-regular);
}

.btn {
  font-family: "Rubik", sans-serif;
  font-weight: var(--font-medium);
}

.fab-btn {
  background-color: var(--color-secondary);
}

.input__form {
  font-size: 1.1rem;
  padding: 0.5rem;
  width: 80%;
}

.input__form > input {
  width: 100%;
  border: none;
  border-radius: 2%;
  padding: 0.5rem;
}

.forget__password {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1rem;
}

.btn-submit {
  margin: 1rem 0 2rem 0;
}
